# IDEs
.idea/
jsconfig.json

# Outputs
scripts/**/*.js
scripts/**/*.js.map
src/**/*.js
src/**/*.js.map
!src/app.nativescript/_files/tools/*.js
!src/app.nativescript/_files/webpack.config.js
!src/xplat/_testing_files/karma.conf.js

*.tgz
src/**/*.ngfactory.d.ts
!src/app.nativescript/_files/app/app.module.ngfactory.d.ts
.angulardoc.json

# Mac OSX Finder files.
**/.DS_Store
.DS_Store

# Misc
node_modules/
npm-debug.log*
yarn-error.log*

package-lock.json