tmp
/test
/build
node_modules
/package.json
packages/angular/src/schematics/**/_**files/**/*.json
packages/electron/src/schematics/**/_**files/**/*.json
packages/ionic/src/schematics/**/_**files/**/*.json
packages/nativescript/src/schematics/**/_**files/**/*.json
packages/nativescript/src/schematics/**/App_Resources/**/*
packages/nativescript/src/schematics/**/hooks/**/*
packages/nativescript/src/schematics/**/tools/**/*
packages/nativescript/src/schematics/**/src/assets/*.min.css
packages/web/src/schematics/**/_*/**/*.json
packages/xplat/src/schematics/**/_*/**/*.json
/.vscode
/.idea
/.github
/coverage