@import 'nativescript-theme-core/scss/platforms/index.android';

// Android overrides here...
// for example, this resets the Button to be consistent with iOS

button {
  background-color: transparent;
  border-color: transparent;
  border-width: 1;
  text-transform: lowercase;
}
