body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.container .logo {
    position: absolute;
    top: 10px;
    left: 95px;
    width: 200px;
}

.container .icon-bar {
    background-color: #212453;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 100%;
    padding: 20px;
}

.container .content-bg {
    background-color: #f75930;
    position: absolute;
    top: 0px;
    left: 150px;
    width: 100%;
    height: 100%;
}

.container .title-bar {
    -webkit-app-region: drag;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
}
.container .workspace-info {
    position: absolute;
    top: 20px;
    right: 0px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container .workspace-info .workspace-options {
    position: relative;
}
#workspace-tools {
    /* -webkit-app-region: drag; */
    position: relative;
    top: 55px;
    right: 0px;
    padding: 2px 0 2px 40px;
    background-color: rgba(33, 36, 83, 0.29);
    width: 100%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: -1px -1px 1px rgba(0, 0, 0, .5);
}
#workspace-tools .workspace-tool {
    display: inline-block;
    margin: 10px 20px 0 0
}
#workspace-tools .workspace-tool .name {
    font-size: 12px;
}
#workspace-tools .workspace-tool.title .name {
    font-size: 13px;
    opacity: .3;
    position: relative;
    top: -24px;
    left: -20px;
    margin-right: -22px;
}
#workspace-tools .workspace-tool span {
    display: block;
    text-align: center;
}
#workspace-tools .workspace-tool span.ion {
    font-size: 45px;
    cursor: pointer;
    color: rgba(255,255,255,.8);
}
#workspace-tools .workspace-tool span.ion:not(.ion-toggle-filled):hover {
    font-size: 45px;
    cursor: pointer;
    color: rgba(255,255,255,.9);
}
#workspace-tools .workspace-tool span.ion.ion-toggle-filled {
    color: rgba(255,255,255,1);
}
#workspace-title {
    position: absolute;
    right: 28px;
    top: -20px;
    min-width:100%;
}

ul {
    color: #fff;
    padding: 120px 0 0 0 !important;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    position: relative;
}

#app-icons {
    font-size: 62px;
    text-align: center;
}

#app-icons li {
    padding: 4px 0 25px 0px;
}

#app-labels {
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#app-labels li hr {
    position: absolute;
    width: 30px;
    top: 8px;
    left: -10px;
    border: 0;
    border-top: 1px solid #212453;
}
#app-labels li:first-child hr {
    top: 40px;
}

#app-labels li {
    height: 100px;
    padding: 0 0 0 30px;
}
#app-labels li:first-child {
    padding: 34px 0 0 30px;
}

#app-labels li .toolbar {
    position: absolute;
    top: 52px;
    left: 65px;
    padding: 2px 0 2px 40px;
    background-color: rgba(33, 36, 83, 0.29);
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: -1px -1px 1px rgba(0, 0, 0, .5);
}
#app-labels li:first-child .toolbar {
    top: 84px;
}
.action-btn {
    display:block;
    float: left;
    margin: 0px 40px 0 0;
    position: relative;
    top: -1px;
    color: #14d5ec;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.action-btn:hover {
    color: #23e4c1;
}
.action-btn.active {
    color: #14ec3c;
}
#copyright {
    font-size:12px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: rgba(255, 255, 255, .5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#copyright a {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
}
#copyright a: hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}