// shared across all platforms and apps
@import '~@<%= npmScope %>/scss/index';

/**
 * The following are common styles for both iOS and Android (used with any {N} app targets)
 * for specific overrides: see the overrides.{ios,android}.scss
 */

// {N} variables
@import 'variables';

// {N} mixins that are used in below imports
// you could create other helpers (ie: animations, functions, etc.)
@import 'mixins';

// {N} core theme rulesets (mix/match these or only use what you need)
@import '~nativescript-theme-core/scss/action-bar';
@import '~nativescript-theme-core/scss/activity-indicator';
@import '~nativescript-theme-core/scss/buttons';
@import '~nativescript-theme-core/scss/icons';
@import '~nativescript-theme-core/scss/forms';
@import '~nativescript-theme-core/scss/labels';
@import '~nativescript-theme-core/scss/list-view';
@import '~nativescript-theme-core/scss/page';
@import '~nativescript-theme-core/scss/progress';
@import '~nativescript-theme-core/scss/segmented-bar';
@import '~nativescript-theme-core/scss/side-drawer';
@import '~nativescript-theme-core/scss/slider';
@import '~nativescript-theme-core/scss/switch';
@import '~nativescript-theme-core/scss/tabs';

// {N} styles (create/import other scss files or define as needed)
@import 'fonts';
@import 'tags';

// since {N} core theme utilities are additive to any above class, these should always be last
// includes (color, spacing, and text helpers): https://github.com/NativeScript/theme/tree/master/app/scss/utilities
@import '~nativescript-theme-core/scss/utilities/index';